$hover_color:  #f2f2f2;
$border_color: #e6e6e6;
$bg-color: #f4f4f4;
$color-gray: #999;
$color-gray-dark: #666;
$color-white: #fff;
$color-orange: #ff6868;

$box_shadow: 0 1px 0.1875rem -0.125rem rgba(0,0,0,.2);
$thumb-border: 1px solid rgba(0, 0, 0, 0.05);
